name: First CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Reponun kodlarını indir
        uses: actions/checkout@v4

      - name: Python 3.11 kur
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Bağımlılıkları yükle
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt || echo "requirements yok"

      - name: Test mesajı
        run: echo "Pipeline başarılı şekilde çalıştı!"
